{% extends 'base.html' %}

{% block title %}Inicio de sesión{% endblock %}
{% block header %}{% endblock %}


{% block content %}
<div class="container">
  <form class="card" method="post">
    {% if error %}
    <h4 style="text-align: center;"><strong>Error:</strong> {{ error }}</h4><br>
    {% endif %}
    <p>Bienvenido :)</p>
    <label for="email">Correo electrónico</label><br>
    <input type="email" name="email" id="email" required><br>
    <label for="password">Contraseña</label><br>
    <input type="password" name="password" id="password" required><br>
    <input class="boton" type="submit" value="Entrar">
  </form>
</div>
{% endblock %}