{% extends 'base.html' %}
{% block title %}Registro de usuarios{% endblock %}
{% block header %}{% endblock %}

{% block content %}
<div class="container">
  <form class="card" method="post">
    {% if error %}
    <h4 style="text-align: center;"><strong>Error:</strong> {{ error }}</h4><br>
    {% endif %}
    <p>¡Hola!</p>
    <label class="is-required" for="nombre">Nombre</label><br>
    <input name="nombre" id="nombre" required><br>
    <label for="apellidos">Apellidos</label><br>
    <input name="apellidos" id="apellidos"><br>
    <label class="is-required" for="email">Correo electrónico</label><br>
    <input type="email" name="email" id="email" required><br>
    <label class="is-required" for="password">Contraseña</label><br>
    <input type="password" name="password" id="password" required><br>
    <label class="is-required" for="password2">Repite la contraseña</label><br>
    <input type="password" name="password2" id="password2" required><br>
    <input class="boton" type="submit" value="Registrarse">
  </form>
</div>
{% endblock %}