html {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(45deg, #FC466B, #3F5EFB);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.is-required:after {
    content: '*';
    margin-left: 3px;
    color: red;
    font-weight: bold;
}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #1a1a1a;
    font-family: Oswald;
    font-weight: 400;
    letter-spacing: 1px;
    border-top: 1px solid rgba(100, 100, 100, .3);
}

#sidebar li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    text-align: center;
}

#sidebar li a {
    text-decoration: none;
    background: none;
    border: none;
    color: #fff;
}

.music {
    float: right;
    padding-top: 5%;
    text-align: center;
}

.filtroImagen {
    filter: opacity(10%);
    -webkit-filter: opacity(10%);
}

.popup1,
.popup2,
.popup3,
.popupOpciones,
.popup4,
.popupMensaje {
    width: 690px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    background: rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(212, 200, 200, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
}

.popupMensaje {
    width: 300px;
    top: 30%;
}

.videosScroll {
    max-height: calc(90vh - 200px);
    overflow-y: auto;
}

.ocultar1,
.popup2,
.popup3,
.popupOpciones,
.popup4 {
    top: 0;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.abrir-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.cerrar-popup {
    visibility: hidden;
}

iframe {
    max-width: 100%;
    max-height: 100%;
    transform: scale(0.8);
}

.centerVideos {
    text-align: center;
}

.descripcionSesion {
    resize: none;
    background: transparent;
    border: none;
    text-align: center;
}

.descripcionSesion:focus {
    outline: none;
}

.centerSesion {
    display: flex;
    justify-content: center;
    text-align: center;
}

.sesionGuardada {
    transform: scale(1);
}

.datosPerfil:focus {
    outline: none;
}

a.image-link {
    border: 0 none;
    text-decoration: none;
}

.container {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.center {
    margin-left: 27.5%;
    width: 50%;
}

.cajitas {
    float: left;
    --width: 150px;
    box-sizing: border-box;
    transition: 200ms;
    width: var(--width);
    height: var(--width);
    color: #fff;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-right-color: rgba(255, 255, 255, 0.1);
    border-bottom-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    margin: 20px;
    overflow: hidden;
    text-align: center;
}

.cajitas:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    filter: blur(0px);
    transition: 400ms;
    transform: skewX(45deg) translateX(calc(var(--width) + 50%));
}

.cajitas:hover {
    transform: translateY(-20px);
    opacity: 0.8;
}

.entrarCat {
    text-decoration: none;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #fff;
    position: relative;
    top: 40%;
    transform: translate(-50%, -50%);
}

form.card,
form.transparente {
    background: rgba(255, 255, 255, 0.3);
    padding: 2em;
    height: auto;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: left;
}

.card p {
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card input {
    background: transparent;
    width: 350px;
    padding: 1em;
    margin-bottom: 1.2em;
    margin-top: 0.2em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.card .boton {
    margin-top: 2em;
    font-size: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.card .boton:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#cssmenu {
    width: auto;
    display: block;
    text-align: center;
    font-family: Oswald;
    line-height: 1.2;
}

#cssmenu ul {
    width: auto;
    display: block;
    font-size: 0;
    text-align: right;
    color: #EEEEEE;
    background-color: #1a1a1a;
    border: transparent;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 999999990;
}

#cssmenu li {
    display: inline-block;
    position: relative;
    font-size: 0;
    margin: 0;
    padding: 0;
}

#cssmenu>ul>li>a {
    font-size: 22px;
    color: inherit;
    text-decoration: none;
    padding: 14px 20px;
    font-weight: 400;
    letter-spacing: 2px;
    display: block;
    position: relative;
}

#cssmenu li:hover>a.bg {
    color: #333333;
    background-color: #F3F3F3;
}

#cssmenu li.full-width {
    position: static;
}

@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    #cssmenu.active li a {
        animation: none !important;
    }
}


@media only screen and (max-width:600px) {}