{% extends 'base.html' %}

{% block title %}Editando sesión {{ sesion['titulo'] }}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="popup1" id="popup1">
        {% if error %}
        <h4 style="text-align: center;"><strong>Error:</strong> {{ error }}</h4>
        {% endif %}
        <button id="btnSiguiente1" style="float:right;visibility:visible;" type="button"
            onclick="siguiente1()">Siguiente</button><br>
        <h3>Selecciona los vídeos que desees para la sesión</h3>
        <div class="videosScroll">
            <!-- por cada categoría existente, mostrará sus vídeos correspondientes -->
            {% for categoria in categoriasValidas %}
            {% set count = namespace(value=0) %}
            <p>Categoría {{categoria["nombre"]}}</p>
            {% for video in videos %}
            {% if video['categoria_id'] == categoria['id'] %}
            {% set count.value = count.value + 1 %}

            {% set miniatura = "https://img.youtube.com/vi/" + video["enlace"] + "/mqdefault.jpg" %}
            {% set enlaceCompleto = "https://www.youtube.com/embed/" + video["enlace"] +
            "?&modestbranding=1&rel=0" %}

            <button style="float: left;" type="button" onclick="videoSeleccionado()">
                <img id="vs" name="vs" src="{{miniatura}}" />
            </button>
            {% endif %}
            {% endfor %}
            {% if count.value == 1 %} 
            <br><br><br><br><br><br><br><br><br><br><br>
            {% elif not count.value is divisibleby 2 and count.value != 1 %} 
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="popupOpciones" id="popupOpciones">
        <p>:)</p>
        <h2>Opciones del vídeo</h2>
        <button id="btnAtras1" type="button" onclick="atras1()">Atrás</button><br>
        <div>
            <div id="playerOpciones"></div>
            <p>Si quieres, puedes elegir el comienzo y final de este vídeo.<br>
                Para el vídeo en el momento que desees y pincha en el botón correspondiente.</p>
            <form style="display: inline-block;" id="formul" method="post">
                <button type="button" onclick="getComienzoVideo()">Comenzar aquí
                </button>
                <label for="comienzo">Comenzará en:</label>
                <input name="comienzo" id="comienzo" readonly><br>
                <button type="button" onclick="getFinalVideo()">Finalizar aquí
                </button>
                <label for="final">Finalizará en:</label>
                <input name="final" id="final" readonly><br>
                <br><button type="button" id="sub" onclick="anadirSeleccionado()">Añadir a la
                    sesión
                </button><br>
                <button type="button" onclick="eliminarSeleccionado()">Eliminar de la
                    sesión
                </button><br>
            </form>
        </div>
    </div>
    <div class="popup2" id="popup2">
        <button id="btnAtras2" type="button" onclick="atras2()">Atrás</button><br>
        <p>Esta será tu sesión actualizada</p>
        <div id="misesion"></div>
        <form method="post">
            <label for="titulo">Título</label><br>
            <input name="titulo" id="titulo" required><br>
            <label for="descripcion">Descripción</label><br>
            <textarea name="descripcion" id="descripcion" cols="40" rows="5"></textarea><br>
            <input class="boton" type="submit" value="Guardar los cambios">
            <input type="hidden" name="array" id="array">
        </form>
    </div>
</div>

<script async src="https://www.youtube.com/iframe_api"></script>

<script>
    let popup1 = document.getElementById("popup1");
    let popup2 = document.getElementById("popup2");
    let popupOpciones = document.getElementById("popupOpciones");
    let ve, c, btn = document.getElementById('sub'), f, v, elemento, t, vs = document.getElementsByName("vs");
    let formulario = document.getElementById('formul');
    var playerSesion, indice = 0, playerSesionConfig, playerOpciones;
    // recoge los datos de la sesión de la base de datos
    var arraySesion = '{{sesion["array"]}}'.split(/\s*\/\s*/g);
    document.getElementById("titulo").value = '{{sesion["titulo"]}}';
    document.getElementById("descripcion").value = '{{sesion["descripcion"]}}';

    // aplica el filtro a los vídeos que tiene la sesión
    for (var i = 0; i < arraySesion.length; i++) {

        for (var j = 0; j < vs.length; j++) {

            if (arraySesion[i].includes(vs[j].src.substring(27, 38))) {
                vs[j].classList.add("filtroImagen");
            }
        }
    }

    // pone el array de la sesión con el formato correcto
    for (var i = 0; i < arraySesion.length; i++) {
        arraySesion[i] = arraySesion[i].split(/\s*\,\s*/g);
    }

    for (var i = 0; i < arraySesion.length; i++) {

        for (var j = 0; j < 3; j++) {

            if (arraySesion[i][j] == '0') {
                arraySesion[i][j] = 0;
            }
        }
    }

    // recoge el tiempo que ha seleccionado el usuario para el comienzo de un vídeo y lo pone con formato correcto
    function getComienzoVideo() {
        c = playerOpciones.getCurrentTime();
        const segundos = (Math.round(playerOpciones.getCurrentTime() % 0x3C)).toString();
        const horas = (Math.floor(playerOpciones.getCurrentTime() / 0xE10)).toString();
        const minutos = (Math.floor(playerOpciones.getCurrentTime() / 0x3C) % 0x3C).toString();
        document.getElementById('comienzo').value = horas + ":" + minutos + ":" + segundos;
    }

    // recoge el tiempo que ha seleccionado el usuario para el final de un vídeo y lo pone con formato correcto
    function getFinalVideo() {
        f = playerOpciones.getCurrentTime();
        const segundos = (Math.trunc(playerOpciones.getCurrentTime() % 0x3C)).toString();
        const horas = (Math.floor(playerOpciones.getCurrentTime() / 0xE10)).toString();
        const minutos = (Math.floor(playerOpciones.getCurrentTime() / 0x3C) % 0x3C).toString();
        document.getElementById('final').value = horas + ":" + minutos + ":" + segundos;
    }

    function abrirPopUp() {
        popup.classList.add("abrir-popup");
    }

    function cerrarPopUp() {
        popup.classList.remove("abrir-popup");
    }

    function atras1() {
        playerOpciones.stopVideo();
        popupOpciones.classList.remove("abrir-popup");
        popup1.classList.add("abrir-popup");
    }

    // aquí se creará el reproductor de la sesión actualizada
    function siguiente1() {
        popup1.classList.add("cerrar-popup");
        popup1.classList.remove("abrir-popup");
        document.getElementById("btnSiguiente1").style.visibility = "hidden";
        popup2.classList.add("abrir-popup");
        // esto es para poder insertar el array correctamente en la base de datos
        var array = document.getElementById("array").value = arraySesion.join('/');

        // configuración del reproductor para la sesión
        playerSesionConfig = {
            height: '390',
            width: '100%',
            videoId: arraySesion[0][0], // id del primer vídeo del array
            playerVars: {
                autoplay: 0,                // auto-play del vídeo
                controls: 1,                // para mostrar los controles del reproductor
                modestbranding: 1,          // oculta el logo de YouTube en la barra de control
                rel: 0,                     // para que no se muestren vídeos relacionados de otros canales al final
                end: arraySesion[0][2],     // para que el vídeo termine donde ha seleccionado el usuario
            },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onStateChange
            }
        };

        // esto reemplazará el <div> que tenemos por un <iframe> con el reproductor que hemos creado
        if (playerSesion) {
            indice = 0;
            playerSesion.stopVideo();
            playerSesion.destroy();
            playerSesion = null;
            playerSesion = new YT.Player('misesion', playerSesionConfig);
        } else {
            indice = 0;
            playerSesion = new YT.Player('misesion', playerSesionConfig);
        }

        document.getElementById("music").style.visibility = "visible";
    }

    // la API llama a esta función cuando el reproductor está listo
    function onPlayerReady(event) {
        //esto hará que el vídeo comience donde haya seleccionado el usuario
        event.target.seekTo(arraySesion[0][1], true);
    }

    function atras2() {
        playerSesion.stopVideo();
        popup2.classList.remove("abrir-popup");
        popup1.classList.remove("cerrar-popup");
        popup1.classList.add("abrir-popup");
        if (arraySesion.length != 0) {
            document.getElementById("btnSiguiente1").style.visibility = "visible";
        }
        document.getElementById("music").style.visibility = "hidden";
    }

    // crea reproductores para los vídeos que va abriendo para añadirlos a la sesión
    function videoSeleccionado() {
        elemento = event.srcElement;

        if (playerOpciones) {
            playerOpciones.stopVideo();
            playerOpciones.destroy();
            playerOpciones = null;
            playerOpciones = new YT.Player('playerOpciones', {
                height: '360',
                width: '640',
                videoId: elemento.src.substring(27, 38),
                start: 0
            });
        } else {
            playerOpciones = new YT.Player('playerOpciones', {
                height: '360',
                width: '640',
                videoId: elemento.src.substring(27, 38),
                start: 0
            });
        }

        popupOpciones.classList.add("abrir-popup");
    }

    // elimina de la sesión el vídeo que seleccione
    function eliminarSeleccionado() {
        elemento.classList.remove("filtroImagen");

        for (var i = 0; i < arraySesion.length; i++) {
            if (arraySesion[i][0] == elemento.src.substring(27, 38)) {
                arraySesion.splice(i, 1);
            }
        }

        if (arraySesion.length == 0) {
            document.getElementById("btnSiguiente1").style.visibility = "hidden";
        }

        popupOpciones.classList.remove("abrir-popup");
        popup1.classList.remove("cerrar-popup");
        popup1.classList.add("abrir-popup");
    }

    // añade a la sesión el vídeo que seleccione con sus tiempos de comienzo y final
    function anadirSeleccionado() {
        playerOpciones.stopVideo();
        elemento.classList.add("filtroImagen");
        let tiempoC, tiempoF;

        // si no selecciona tiempos, serán 0 (indefinido), si sí selecciona nos quedamos con la parte entera
        if (document.getElementById('comienzo').value == "") {
            tiempoC=0;
        }else{
            tiempoC=Math.trunc(c);
        }
        if (document.getElementById('final').value == "") {
            tiempoF=0;
        }else{
            tiempoF=Math.trunc(f);
        }

        arraySesion.push([elemento.src.substring(27, 38), tiempoC, tiempoF]);

        popupOpciones.classList.remove("abrir-popup");
        document.getElementById("btnSiguiente1").style.visibility = "visible";
        popup1.classList.remove("cerrar-popup");
        popup1.classList.add("abrir-popup");
        formulario.reset();
    }

    /* la API llama a esta función cuando el estado del reproductor cambia, en nuestro caso,
    cuando un vídeo termina, y hará que cargue el siguiente vídeo si lo hay */
    function onStateChange(state) {
        if (state.data === YT.PlayerState.ENDED && indice < (arraySesion.length - 1)) {
            indice += 1;
            /* Para que YouTube no empiece desde la posición en la que te quedaste la última vez
            que viste el vídeo. */
            /* En el primer if, es el caso de que el minuto sea anterior al vídeo de antes, por lo que
            nos posicionaremos en 0 y después startseconds desplazará al comienzo correcto del array. */
            if (arraySesion[indice][1] < arraySesion[indice-1][1]){
                playerSesion.seekTo(0, true);
            /* En el else, es el caso de que el minuto NO sea anterior al vídeo de antes, por lo que
            nos posicionaremos en el momento de comienzo del array */
            }else{
                playerSesion.seekTo(arraySesion[indice][1], true);
            }

            playerSesion.loadVideoById({
                videoId: arraySesion[indice][0], // id del vídeo siguiente
                startSeconds: arraySesion[indice][1], // su tiempo de comienzo
                endSeconds: arraySesion[indice][2] // su tiempo de final
            });
            
            /* Si no se han seleccionado tiempos de comienzo y final, se verá el vídeo entero,
            para ello nos posicionamos en 0 y ya está */
            if (arraySesion[indice][1] == '0' && arraySesion[indice][2] == '0') {
                playerSesion.seekTo(0, true);
            }
        }
    }
</script>

{% endblock %}