{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center;">{% block title %}Mis sesiones{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="center">
    {% if sesiones %}
    {% for sesion in sesiones %}
    <div class="cajitas" style="float:left;">
        <a class="entrarCat" href="{{ url_for('sesiones.verSesion', id=sesion['id']) }}">{{
            sesion['titulo'] }}</a>
    </div>
    {% endfor %}
    {% else %}
    <div class="popupMensaje">
        <h3>Aún no has guardado ninguna sesión.</h3>
    </div>
    {% endif %}
</div>
{% endblock %}