{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center;">{% block title %}Sesiones encontradas{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="center">
    {% if resultado %}
    {% for sesion in resultado %}
    <div class="cajitas" style="float:left;">
        <a class="entrarCat" href="{{ url_for('sesiones.verSesion', id=sesion['id']) }}">{{
            sesion['titulo'] }}</a>
    </div>
    {% endfor %}
    {% else %}
    <div class="popupMensaje">
        <h3>La búsqueda no ha dado ningún resultado.</h3>
    </div>
    {% endif %}
</div>
{% endblock %}