{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

<div class="centerSesion">
    <a href="{{ url_for('sesiones.editarSesion', id=sesion['id']) }}"
        style="float:right;margin-right:20px;margin-top:20px;">
        <input type="button" value="Editar sesión">
    </a>

    <form style="float:right;margin-right:20px;margin-top:20px;"
        action="{{ url_for('sesiones.eliminarSesion', id=sesion['id']) }}" method="post">
        <input class="danger" type="submit" value="Eliminar sesión" onclick="return confirm('¿Estás seguro?');">
    </form>

    <div>
        <h1>Sesión {{sesion["titulo"]}}</h1>
        <textarea readonly class="descripcionSesion" cols="40" rows="5">{{sesion["descripcion"]}}</textarea><br><br>
        <div class="sesionGuardada" id="player"></div>
    </div>

    <div class="music" id="music">
        <p>Si lo deseas, puedes elegir una playlist<br> y escuchar música a la vez que los vídeos.</p>
        <select onchange="option()" id="playlist">
            <option value="0">Pura energía</option>
            <option value="1">Yoga y meditación</option>
            <option value="2">Cardio pop</option>
            <option value="3">Cardio latino</option>
            <option value="4">Zumba</option>
            <option value="5">Rock</option>
            <option value="6">Hip Hop</option>
        </select>
        <iframe id="musica" style="border-radius:12px"
            src="https://open.spotify.com/embed/playlist/37i9dQZF1DWYp5sAHdz27Y?utm_source=generator&theme=0"
            width="100%" height="380" frameBorder="0" allowfullscreen=""
            allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
        </iframe>
    </div>
</div>

<script async src="https://www.youtube.com/iframe_api"></script>

<script>
    var indice = 0;
    // array con los ids de playlists predefinidas
    var arrayMusica = ["37i9dQZF1DWYp5sAHdz27Y", "37i9dQZF1DX9uKNf5jGX6m", "37i9dQZF1DWSJHnPb1f0X3",
        "37i9dQZF1DWXmQEAjlxGhi", "37i9dQZF1DX7cmFV9rWM0u", "37i9dQZF1DWXx3Txis2L4x", "37i9dQZF1DX9oh43oAzkyx"];
    var playerSesion, playerSesionConfig;
    // recoge los datos de la sesión de la base de datos
    var arraySesion = '{{sesion["array"]}}'.split(/\s*\/\s*/g);

    // pone el array de la sesión con el formato correcto
    for (var i = 0; i < arraySesion.length; i++) {
        arraySesion[i] = arraySesion[i].split(/\s*\,\s*/g);
    }

    for (var i = 0; i < arraySesion.length; i++) {

        for (var j = 0; j < 3; j++) {

            if (arraySesion[i][j] == '0') {
                arraySesion[i][j] = 0;
            }
        }
    }

    // configuración del reproductor para la sesión
    playerSesionConfig = {
        height: '540',
        width: '960',
        videoId: arraySesion[0][0], // id del primer vídeo del array
        playerVars: {
            autoplay: 0,                // auto-play del vídeo
            controls: 1,                // para mostrar los controles del reproductor
            modestbranding: 1,          // oculta el logo de YouTube en la barra de control
            rel: 0,                     // para que no se muestren vídeos relacionados de otros canales al final
            end: arraySesion[0][2]      // para que el vídeo termine donde ha seleccionado el usuario
        },
        events: {
            'onReady': onPlayerReady,
            'onStateChange': onStateChange
        }
    };

    // esto reemplazará el <div> que tenemos por un <iframe> con el reproductor que hemos creado
    function onYouTubeIframeAPIReady() {
        if (playerSesion) {
            indice = 0;
            playerSesion.stopVideo();
            playerSesion.destroy();
            playerSesion = null;
            playerSesion = new YT.Player('player', playerSesionConfig);
        } else {
            indice = 0;
            playerSesion = new YT.Player('player', playerSesionConfig);
        }
    }

    // la API llama a esta función cuando el reproductor está listo
    function onPlayerReady(event) {
        //esto hará que el vídeo comience donde haya seleccionado el usuario
        event.target.seekTo(arraySesion[0][1], true);
    }

    /* la API llama a esta función cuando el estado del reproductor cambia, en nuestro caso,
    cuando un vídeo termina, y hará que cargue el siguiente vídeo si lo hay */
    function onStateChange(state) {
        if (state.data === YT.PlayerState.ENDED && indice < (arraySesion.length - 1)) {
            indice += 1;
            /* Para que YouTube no empiece desde la posición en la que te quedaste la última vez
            que viste el vídeo. */
            /* En el primer if, es el caso de que el minuto sea anterior al vídeo de antes, por lo que
            nos posicionaremos en 0 y después startseconds desplazará al comienzo correcto del array. */
            if (arraySesion[indice][1] < arraySesion[indice-1][1]){
                playerSesion.seekTo(0, true);
            /* En el else, es el caso de que el minuto NO sea anterior al vídeo de antes, por lo que
            nos posicionaremos en el momento de comienzo del array */
            }else{
                playerSesion.seekTo(arraySesion[indice][1], true);
            }

            playerSesion.loadVideoById({
                videoId: arraySesion[indice][0], // id del vídeo siguiente
                startSeconds: arraySesion[indice][1], // su tiempo de comienzo
                endSeconds: arraySesion[indice][2] // su tiempo de final
            });
            
            /* Si no se han seleccionado tiempos de comienzo y final, se verá el vídeo entero,
            para ello nos posicionamos en 0 y ya está */
            if (arraySesion[indice][1] == '0' && arraySesion[indice][2] == '0') {
                playerSesion.seekTo(0, true);
            }
        }
    }

    // cambiará de playlist de música según vaya eligiendo el usuario en el desplegable
    function option() {
        playlist = document.getElementById('playlist').value;
        document.getElementById('musica').src = "https://open.spotify.com/embed/playlist/" + arrayMusica[playlist] +
            "?utm_source=generator&theme=0";
    }
</script>

{% endblock %}