{% extends 'base.html' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container">
    <form class="card" method="post">
        {% if error %}
        <h4 style="text-align: center;"><strong>Error:</strong> {{ error }}</h4><br>
        {% endif %}
        <label for="password">Nueva contraseña</label><br>
        <input type="password" name="password" id="password" required><br>
        <label for="password2">Repite la nueva contraseña</label><br>
        <input type="password" name="password2" id="password2" required><br>
        <input class="boton" type="submit" value="Cambiar">
    </form>
</div>

<div id="sidebar">
    <li><a href="{{ url_for('perfil.verPerfil') }}">Mis datos</a>
    <li><a href="{{ url_for('perfil.editarPerfil') }}">Editar perfil</a>
    <li><a href="{{ url_for('perfil.cambiarContrasena') }}">Cambiar contraseña</a>
</div>
{% endblock %}