{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="container">
    <form class="card" method="post">
        {% if error %}
        <h4 style="text-align: center;"><strong>Error:</strong> {{ error }}</h4><br>
        {% endif %}
        <p>Mis datos</p>
        <label for="nombre">Nombre</label><br>
        <input value="{{datos['nombre']}}" type="text" name="nombre" id="nombre" required><br>
        <label for="apellidos">Apellidos</label><br>
        <input value="{{datos['apellidos']}}" type="text" name="apellidos" id="apellidos"><br>
        <label for="email">Correo electrónico</label><br>
        <input value="{{datos['email']}}" type="email" name="email" id="email" required><br>
        <input class="boton" type="submit" value="Guardar">
    </form>
</div>

<div id="sidebar">
    <li><a href="{{ url_for('perfil.verPerfil') }}">Mis datos</a>
    <li><a href="{{ url_for('perfil.editarPerfil') }}">Editar perfil</a>
    <li><a href="{{ url_for('perfil.cambiarContrasena') }}">Cambiar contraseña</a>
</div>
{% endblock %}