{% extends 'base.html' %}

{% block title %}Perfil{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="container">
    <form class="card" method="post">
        <p>Mis datos</p>
        <label for="nombre">Nombre</label><br>
        <input class="datosPerfil" value="{{datos['nombre']}}" type="text" name="nombre" id="nombre" readonly><br>
        <label for="apellidos">Apellidos</label><br>
        <input class="datosPerfil" value="{{datos['apellidos']}}" type="text" name="apellidos" id="apellidos"
            readonly><br>
        <label for="email">Correo electrónico</label><br>
        <input class="datosPerfil" value="{{datos['email']}}" type="email" name="email" id="email" readonly><br>
    </form>
</div>

<div id="sidebar">
    <li><a href="{{ url_for('perfil.verPerfil') }}">Mis datos</a>
    <li><a href="{{ url_for('perfil.editarPerfil') }}">Editar perfil</a>
    <li><a href="{{ url_for('perfil.cambiarContrasena') }}">Cambiar contraseña</a>
</div>

{% endblock %}