{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center;">{% block title %}Nueva categoría{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container">
  <form class="card" method="post">
    {% if error %}
    <h4 style="text-align: center;"><strong>Error:</strong> {{ error }}</h4><br>
    {% endif %}
    <label for="nombre">Nombre</label><br>
    <input maxlength="18" name="nombre" id="nombre" value="{{ request.form['nombre'] }}" required><br>
    <label for="descripcion">Descripción</label><br>
    <textarea maxlength="200" style="resize: none;" name="descripcion" id="descripcion" cols="44"
      rows="5">{{ request.form['descripcion'] }}</textarea><br><br>
    <input class="boton" type="submit" value="Guardar">
  </form>
</div>
{% endblock %}