{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center;">{% block title %}Editando categoría "{{ categoria['nombre'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}

<form style="float:right;margin-right:20px;" action="{{ url_for('categorias.eliminarCategoria', id=categoria['id']) }}"
  method="post">
  <input class="danger" type="submit" value="Eliminar" onclick="return confirm('¿Estás seguro?');">
</form>
<div class="container">
  <form class="card" method="post">
    {% if error %}
    <h4 style="text-align: center;"><strong>Error:</strong> {{ error }}</h4><br>
    {% endif %}
    <label for="nombre">Nombre</label><br>
    <input maxlength="18" name="nombre" id="nombre" value="{{ request.form['nombre'] or categoria['nombre'] }}"
      required><br>
    <label for="descripcion">Descripción</label><br><br>
    <textarea maxlength="200" style="resize: none;" name="descripcion" id="descripcion" cols="44"
      rows="5">{{ request.form['descripcion'] or categoria['descripcion'] }}</textarea><br>
    <input class="boton" type="submit" value="Guardar">
  </form>
</div>
{% endblock %}