{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center;">{% block title %}Categorías{% endblock %}</h1>

<a href="{{ url_for('videos.subirVideo') }}" style="float:right;margin-right:20px;">
    <input type="button" value="Subir vídeo">
</a>
<a href="{{ url_for('categorias.crearCategoria') }}" style="float:right;margin-right:20px;">
    <input type="button" value="Nueva categoría">
</a><br>

{% endblock %}

{% block content %}
<div class="center">
    {% if categorias %}
    {% for categoria in categorias %}
    <div class="cajitas" style="float:left;">
        <a class="entrarCat" href="{{ url_for('videos.mostrarVideos', id=categoria['id']) }}">{{
            categoria['nombre'] }}</a>
    </div>
    {% endfor %}
    {% else %}
    <div class="popupMensaje">
        <h3>Aún no has creado ninguna categoría.</h3>
    </div>
    {% endif %}
</div>
{% endblock %}