{% extends 'base.html' %}

{% block header %}
<h1 style="text-align: center;">{% block title %}Vídeos de la categoría {{cat["nombre"]}}{% endblock %}</h1>

<a style="float:right;margin-right:20px;" class="editar"
    href="{{ url_for('categorias.editarCategoria', id=categoria) }}">
    <input type="button" value="Editar categoría">
</a>
<a style="float:right;margin-right:20px;" href="{{ url_for('videos.subirVideo') }}">
    <input type="button" value="Subir vídeo">
</a><br>

<p style="text-align: center;">{{cat["descripcion"]}}</p><br>
{% endblock %}

{% block content %}

<div class="centerVideos">

    {% if videos %}
    {% for video in videos %}

    {% set videoLink = url_for('videos.verVideo', id=video['id']) %}
    {% set miniatura = "https://img.youtube.com/vi/" + video["enlace"] + "/mqdefault.jpg" %}

    <a class="image-link" href="{{videoLink}}">
        <img src="{{miniatura}}">
    </a>
    {% endfor %}
    {% else %}
    <div class="popupMensaje">
        <h3>Aún no has subido ningún vídeo.</h3>
    </div>
    {% endif %}

</div>

{% endblock %}