{% extends 'base.html' %}

{% block header %}

<h1 style="text-align: center;">{% block title %}Subir vídeo{% endblock %}</h1>

{% endblock %}

{% block content %}
<div class="container">
  {% if categorias|length == 0 %}
  <div class="popupMensaje">
      <h3>Aún no has creado ninguna categoría</h3>
      <p>Debes crear categorías para poder añadir vídeos en ellas. Haz click en este botón.</p>
      <a href="{{ url_for('categorias.crearCategoria') }}">
          <input type="button" value="Nueva categoría">
      </a>
  </div>
  {% else %}
  <form class="card" method="post">
    {% if error %}
    <h4 style="text-align: center;"><strong>Error:</strong> {{ error }}</h4><br>
    {% endif %}
    <p>Pega el enlace del vídeo de YouTube<br>y elige la categoría</p>
    <label for="enlace">Enlace</label><br>
    <input name="enlace" id="enlace" required><br>
    <label for="categoria_id">Categoría</label>
    <select id="categoria_id" name="categoria_id" required>
      {% for categoria in categorias %}
      <option>{{categoria["nombre"]}}</option>
      {% endfor %}
    </select>
    <input class="boton" type="submit" value="Subir">
  </form>
  {% endif %}
</div>
{% endblock %}