{% extends 'base.html' %}

{% block title %}Vídeo{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
{% set enlaceCompleto = "https://www.youtube.com/embed/" + video["enlace"] %}

<div style="text-align: center;">
  <form style="float:right;margin-right:20px;margin-top:67px;"
    action="{{ url_for('videos.eliminarVideo', id=video['id']) }}" method="post">
    <input class="danger" type="submit" value="Eliminar vídeo" onclick="return confirm('¿Estás seguro?');">
  </form><br>

  <iframe style="margin-top:10%;transform: scale(1.5);" width="560" height="315" src="{{enlaceCompleto}}" title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen></iframe>

  <div class="music" id="music">
    <p>Si te apetece, puedes elegir una playlist<br> y escuchar música a la vez que ves el vídeo.</p>
    <select onchange="option()" id="playlist">
      <option value="0">Pura energía</option>
      <option value="1">Yoga y meditación</option>
      <option value="2">Cardio pop</option>
      <option value="3">Cardio latino</option>
      <option value="4">Zumba</option>
      <option value="5">Rock</option>
      <option value="6">Hip Hop</option>
    </select>
    <iframe id="musica" style="border-radius:12px"
        src="https://open.spotify.com/embed/playlist/37i9dQZF1DWYp5sAHdz27Y?utm_source=generator&theme=0"
        width="100%" height="380" frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
    </iframe>
  </div>
</div>

<script>
  // array con los ids de playlists predefinidas
  var arrayMusica = ["37i9dQZF1DWYp5sAHdz27Y", "37i9dQZF1DX9uKNf5jGX6m", "37i9dQZF1DWSJHnPb1f0X3",
      "37i9dQZF1DWXmQEAjlxGhi", "37i9dQZF1DX7cmFV9rWM0u", "37i9dQZF1DWXx3Txis2L4x", "37i9dQZF1DX9oh43oAzkyx"];

  // cambiará de playlist de música según vaya eligiendo el usuario en el desplegable
  function option() {
      playlist = document.getElementById('playlist').value;
      document.getElementById('musica').src = "https://open.spotify.com/embed/playlist/" + arrayMusica[playlist] +
          "?utm_source=generator&theme=0";
  }
</script>
{% endblock %}