<!doctype html>

<title>{% block title %}{% endblock %} - GOseen</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<nav id="cssmenu">
  <ul>
    <li style="float: left"><a>GOseen</a>
    {% if g.usuario %}
      <li style="float: left"><a class="bg" href="{{ url_for('categorias.index') }}">Categorías</a>
      <li style="float: left"><a class="bg" href="{{ url_for('sesiones.crearSesion') }}">Nueva sesión</a>
      <li><form action="{{ url_for('busqueda.buscarSesion') }}" method="post">
        <input type="search" name="busquedasesion" placeholder="Busca una sesión por título" size="26">
        <input type="submit" value="Buscar">
      </form>
      <li><a class="bg" href="{{ url_for('sesiones.mostrarSesiones') }}">Mis sesiones</a>
      <li><a class="bg" href="{{ url_for('perfil.verPerfil') }}">Perfil</a>
      <li><a class="bg" href="{{ url_for('auth.logout') }}">Cerrar sesión</a>
    {% else %}
      <li><a class="bg" href="{{ url_for('auth.registro') }}">REGISTRARSE</a>
      <li><a class="bg" href="{{ url_for('auth.login') }}">INICIAR SESIÓN</a>
    {% endif %}
  </ul>
</nav>

<section class="content">

  <header>
    {% block header %}{% endblock %}
  </header>

  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}

  {% block content %}{% endblock %}

</section>